sudo: required
 
addons:
  sonarcloud:
    organization: "sonarcloud"
    token:
      secure: "ksdAQnt8GuziAxw5P3QvVb8+5grIbRWo3ek948PiwI7A17b05SVD6Lbe7ViP2CGh55DB3hSD87oAzorvP6d3AQlFLGXQsHdwW5doTkF0HH7Kz/lhLYDvt3kEME7isawDsjBjvQT9ldkt8sEf7z9n3Ccmt9CwuxguNFmY+920+HXD6ORUYWtBOq1DbcoWms/1EuAQum7Yus5OOMMDIhOJJYbesIYk03uKwXYZJqT5Yom4b6HrjLpVXB575vmm73mIr9pW3uViXYxJIqa+j2E93/ERiWSnVnre6DZ61JQnOBLPW9ek1QvpGmNodVytibEVNjYvgg/qIhhJvINp7ZXPGDSv/aPBnJ721W5fLWGv4wapuYtxWrbhvRNh9kzDg+tkFl1Ab7Tg40mwDIuqxfufJarW6lCLPWsYer5ouiCcjAufDHPbCikxIqX0bIMx3LfRVM/jYx41LkSh/UikFyBn6QJZako/ZQ6PbJ54hNuzt+Kog5aKNZYbZljqKIa1wS7rkIkAtXwFe8kX3t7KkXZH4Z7hlOYAr5P0dJyvp9h4LoHhV7Xss61aTfj69UoCCBwGI4t4LHj4+oyJrC+tMh8Ha8TYkPgeAn2G1GKjV0R16yxDLl+600xeO5KFtcPAka+eggkqgxvrkVk7Qe+LALYm7Y7uBEE14ACjONiU4xVT8js="

env:
  - NODE_VERSION=14
  
script:
  - nvm install $NODE_VERSION
  - sonar-scanner

cache:
  directories:
    - '$HOME/.sonar/cache'

# Don't copy the following part if you are using this project as a starting point of yours
notifications:
  email: false
  webhooks:
    - secure: "flBSNz9qtLM8L9tAbMukPtzONeJaCVmo0Xmg3f2vJbovp8le/7Ips63Q2AxXPWYI9c+S+3eQFTKG/ry1N+VbgTEXJa/QS0f/yZDTE58sgHKRF2oUCV4U+xLVCmW59zdvK4yoVDpDSmomTW9g5RDaPqH6zj/pcK3jemUZgkIquT69huljTuTh52wtocXyDfSIhWRsYW5qcwqKqdAp92EROCVHCG731fqT/xlIoUhw9U9+7jewhUXUUUH3TsNv3HDLA8JilkCRLgw7udMBl/fEjZx77WLePiiOn0DsFY69agm1iwWF+elU9zly6VCSr81EmaailM6zmzusnkqjGca3mzXwSzmr2Ta35551BiG1lOmxsP65AxVzXeKbhUUFxoNV2I2fv6oy5mnMDCN+MV+Qu/YYw3B57c/e+BkGTh4lu1AY6zB9pN/FrbX0vIQ+re4rAC1M/ynxX6NsmsNVtjYY9VVQTqFrPoubZxki5YltS7n65zrmGW55ZOCLt09d7HU3AJBu+JBkwCoIC1Ctx/gif8Yp0aaSgA3Y/hH5ILEpl3pTYzy3QZS3FhI0+swbrHVPqYlDWooNfoZ3IimfP/TSItV2rJcCOnNoVgQTqCUXtZO0Yxwtoh/YieYLPBP1b3bbowC0yNk9d6VkuxLmquU/bhbRgc30Rc0KtoxkFtrsrw0="
  on_start: always
